body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form > div {
  padding: 0.125em;
}

input {
  text-align: center;
}

a {
  text-decoration: none;
}

.app {
  text-align: center;
}

.header {
  background-color: #222;
  padding: 1em;
  color: white;
}

.title {
  font-size: 2em;
}

.space {
  padding: 0.5em;
}

.song-card-element {
  padding: 0.5em;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  width: 75%;
  height: 75%;
}

.img-container img {
  width: 100%;
  height: auto;
  margin: auto;
}
